<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/sanitize.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/delete.css">
    <title>Delete</title>
</head>
<body>
    <div class="menubar">
        <p><a href="/" class="menu" id="all">All</a></p>
        <p><a href="/search" class="menu" id="search">Search</a></p>
        <p><a href="/register" class="menu" id="register">Register</a></p>
        <p><a href="/delete" class="menu" id="delete" style="text-decoration: underline;">Delete</a></p>
    </div>
    <div class="tips">
        {{range .}}
            <div class="tip">
                <a href="{{.Url}}" target="_blank" class="link">
                    <img src="{{.Image}}" alt="preview image" class="preview">
                    <p class="title">{{.Title}}</p>
                    <p class="description">{{.Description}}</p>
                </a>
                <a href="/remove?id={{.Id}}" class="btn">Delete</a>
            </div>
        {{end}}
        <div class="clear"></div>
    </div>
</body>
</html>