<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Index</title>
</head>
<body>
    <div class="tips">
        {{range .}}
            <div class="tip">
                <p>{{.Id}}</p>
                <p>{{.Title}}</p>
                <p>{{.Url}}</p>
                <p>{{.Description}}</p>
                <img src="{{.Image}}" alt="preview image">
            </div>
            <br>
        {{end}}
    </div>
</body>
</html>