html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #99ccff;
}

a {
    text-decoration: none;
}

.menubar {
    position: fixed;
    width: 175px;
    background-color: #66b3ff;
    height: 100%;
    box-shadow:5px 0px 10px;
    text-align: center;
    padding-top: 5px;
}

.menubar .menu {
    display: inline-block;
    font-size: 30px;
    color: white;
    padding: 5px 0;
}

.menubar .menu:hover {
    font-weight: bold;
}
