.tips {
    min-height: 100%;
    margin-left: 175px;
    padding-top: 20px;
    padding-left: 25px;
}

.tip {
    float: left;
    text-align: center;
    border: 2px solid;
    width: 300px;
    height: 300px;
    margin: 5px;
    padding: 5px;
    background-color: #fff;
}

.tip a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.tip a:hover {
    opacity: 0.7;
}

.tip .title {
    font-weight: bold;
    font-size: 12px;
}

.tip .description {
    font-size: 10px;
}

.tip .preview {
    max-height: 150px;
    max-width: 290px;
}

.clear {
    clear: both;
}
